<div id="search">
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Type to search..." class="form"/>
  <br>
  <br>
  <div id= "searchResults" class="container">
    <div *ngFor="let book of books | async; let i=index" id="book{{i}}" class="row">
        <div id="topRow{{i}}" class="row container" (click)="toggle(i)">
          <div class="title col-sm-4">
              <span *ngIf="book.volumeInfo.title; else elseBlock">{{book.volumeInfo.title}}</span>
          </div>
          <div class="authors col-sm-4">
              <span *ngIf="book.volumeInfo.authors; else elseBlock">{{book.volumeInfo.authors}}</span>
          </div>
          <div class="col-sm-4">
            <div class="publisher col-sm-12">
              <span *ngIf="book.volumeInfo.publisher; else elseBlock">
                {{book.volumeInfo.publisher}}
                </span>
            </div>
            <div class="publishedDate col-sm-12">
              <span *ngIf="book.volumeInfo.publishedDate; else elseBlock">
                ({{book.volumeInfo.publishedDate}})
              </span>
            </div>        
          </div>
        </div>
        <div *ngIf="!isHidden(i); else hide" id="bottomRow{{i}}" class="bottomRow container">
          <div id="bottomRowLeft{{i}}" class="bottomRowLeft col-sm-3">
            <div *ngIf="book.volumeInfo.imageLinks; else imgElseBlock" class="image col-sm-12">
              <img src="{{book.volumeInfo.imageLinks.thumbnail}}">
            </div>
            <div class="rating col-sm-12">
              Rating: <span *ngIf="book.volumeInfo.averageRating; else elseBlock">{{book.volumeInfo.averageRating}}</span>
            </div>
          </div>
          <div id="bottomRowRight{{i}}" class="bottomRowRight row col-sm-9">
            <div class="description col-sm-12">
              Description: <span *ngIf="book.volumeInfo.description; else elseBlock">{{book.volumeInfo.description}}</span>
            </div>
            <div class="type col-sm-12">
              Type: <span *ngIf="book.volumeInfo.printType; else elseBlock"> 
                {{book.volumeInfo.printType}}
              </span>
            </div>
            <div class="pageCount col-sm-12">
              Page Count: <span *ngIf="book.volumeInfo.pageCount; else elseBlock">{{book.volumeInfo.pageCount}}</span>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{book.volumeInfo.canonicalVolumeLink}}"class="link btn btn-default">Preview</a>
          </div>
        </div>
        <hr class="divider">
    </div>

</div>
</div>

<ng-template #elseBlock>
  <span>(unavailable)</span>
</ng-template>
<ng-template #imgElseBlock>
  <div class="image col-sm-12">
    (cover image unavailable)
  </div>
</ng-template>
<ng-template #hide></ng-template>